html {
  background-image: url(./img/bliss.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fill-available;
  height: 100%;
}

#loading {
  position: absolute;
  display: inline-block;
  width: 485px;
  height: 235px;
}

#musicplayer {
  position: absolute;
}

#amogus {
  position: absolute;
}
