html {
  background: url(img/bliss.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#loading {
  position: absolute;
  display: inline-block;
  width: 485px;
  height: 235px;
}

#musicplayer {
  position: absolute;
}

#aboutme {
  position: absolute;
  width: 485px;
  height: 342px;
}

#guestbook {
  position: absolute;
  width: 485px;
  height: 395px;
}

#voltorbflip {
  position: absolute;
  width: 617px;
  height: 692px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer; /* Indicates that the area is clickable */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footer img {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

