html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  image-rendering: pixelated;
}

#loading {
  position: absolute;
  display: inline-block;
  width: 485px;
  height: 235px;
}

#musicplayer {
  position: absolute;
}

#aboutme {
  position: absolute;
  width: 485px;
  height: 342px;
}

#dogbox {
  position: absolute;
  width: 485px;
  height: 395px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footer img {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

