@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    background-image: url(./img/Projects.jpg);
}
a {
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
html:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: transparent;
    color: white;
    z-index: 100000;
    padding-bottom: 10px;
    padding-left: 10px;
 }
 .footer .PrivacyPolicy{
     color: white;
     font-size: 15px;
 }
 .footer .Copyright{
     color: white;
     font-size: 15px;
 }
#OldProjects h1 {
    display: block;
    width: fit-content;
    font-size: 7rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
    color: white;
}
#OldProjects .Back{
    display: inline-block;
    padding: 10px 30px;
    color: blueviolet;
    background-color: transparent;
    border: 2px solid blueviolet;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#OldProjects .Back:hover{
    color: white;
    background-color: blueviolet;
}