@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span {
    color: blueviolet;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: left;
    z-index: 100000;
    font-size: 15px;
 }
 .footer a{
     color: white;
 }
/* Header Section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active {
    left: 0%;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgb(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 20px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: blueviolet;
}
#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}
#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburgerpulse 1s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}
/* End of Header Section */
/* Hero (main) Section */
#hero {
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    background-image: url(./img/Homepage.JPG);
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}
#hero .scrolldown{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}
#hero .scrolldown span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animatescroll 1.5s linear infinite;
    opacity: 0;
}
#hero .scrolldown span:nth-child(1){
    transform: translate(-15px,-15px);
    animation-delay: -0.4s;
    animation-timing-function: steps(20);
}
#hero .scrolldown span:nth-child(2){
    transform: translate(0,0);
    animation-delay: -0.2s;
    animation-timing-function: steps(20);
}
#hero .scrolldown span:nth-child(3){
    transform: translate(15px,15px);
    animation-delay: -0s;
    animation-timing-function: steps(20);
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 1s;
    animation-timing-function: steps(20);
}
#hero h1:nth-child(2){
    animation-delay: 2s;
    animation-timing-function: steps(20);
}
#hero h1:nth-child(3){
    animation-delay: 3s;
    animation-timing-function: steps(20);
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: blueviolet;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: blueviolet;
    background-color: transparent;
    border: 2px solid blueviolet;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#hero .cta:hover{
    color: white;
    background-color: blueviolet;
}

/* End of Hero (main) Section */

/* Projects Section */
#projects{
    background-image: url(/img/Projects.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#projects:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#projects .section-title {
    font-size: 4rem;
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
}
#projects .section-title span {
    color: #add8e6;
}
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
}
#projects .project-info{
    padding: 24px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: url(img/Homepage.JPG);
    margin-top: 20px;
    border-radius: 15px;
}
#projects .oldproj{
    display: inline-block;
    padding: 10px 30px;
    color: #add8e6;
    background-color: transparent;
    border: 2px solid #add8e6;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#projects .oldproj:hover{
    color: white;
    background-color: #add8e6;
}

/* End of Projects Section */

/* Start of About Me Section */
#about{
    background-image: url(/img/AboutMe.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#about::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0% auto;
    padding: 100px 20px;
    color: white
}
#about .about span{
    color: rgb(13, 176, 197);
}
#about .col-left{
    width: 250px;
    height: 360px;
}
#about .col-right{
    width: 100%;
    font-size: 20px;
}
#about .col-right h1{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: 10px;
}
#about .col-right h2 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: 10px;
}
#about .col-right p {
    margin-bottom: 20px;
}
#about .col-right .contact {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#about .col-right .contact:hover {
    color: black;
    background-color: white;
}
/* End of About Me Section */
/* Accounts Section */
#accounts{
    background-image: url(/img/Accounts.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#accounts::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#accounts .account{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0% auto;
    padding: 100px 20px;
    color: white
}
#accounts .section-title{
    font-size: 4rem;
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
}
#accounts .section-title span{
    color: cornflowerblue;
}
#accounts .TW{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid #00acee;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#accounts .TW:hover {
    color: black;
    background-color: #00acee;
}
#accounts .GH{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid black;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#accounts .GH:hover {
    color: black;
    background-color: white;
}
#accounts .ST{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid #0b5a8f;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#accounts .ST:hover {
    color: black;
    background-color: #0b5a8f;
}
#accounts .TH{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid blueviolet;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#accounts .TH:hover {
    color: black;
    background-color: blueviolet;
}
#accounts .YT{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid red;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#accounts .YT:hover {
    color: black;
    background-color: red;
}
#accounts .email{
    display: inline-block;
    margin-top: 50px;
    font-size: 2rem;
    color: cornflowerblue;
}
/* End of Accounts Section */

/* Keyframes */
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: blueviolet;
        font-weight: 500;
    }
}
@keyframes animatescroll{
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25%{
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    100%{
        top: 5px;
        left: 5px;
        opacity: 0;
    }
    
}
@keyframes hamburgerpulse{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}
/* End of Keyframes*/